.App {
  text-align: center;
}

.paint-toolbar {
  width: 225px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-container {
  width: 90%;
  height: 80vh;
}

.canvas-display {
  height: 100vh;
  min-width: 0px;
}

.layers-list-card {
  padding: 0.5em;
  border: 2px black solid;
  margin-top: 10px;
}

.layers-list-name {
  margin: 0px;
  user-select: none;
}

.layers-list-icon {
  display: inline-block;
  float: left;
  position: relative;
  transform: translateY(10px);
  cursor: ns-resize;
}

.layers-list-selected {
  background-color: #63f96b;
}

.icons-list-icon {
  display: inline-block;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.icons-list-icon:hover {
  background-color: #c9c9c9;
  cursor: pointer;
}

.icons-list-selected {
  background-color: #d1ffba;
}

.icons-list-selected:hover {
  background-color: #b9ff96;
}