.App {
  text-align: center;
}

.paint-toolbar {
  width: 225px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-container {
  width: 90%;
  height: 80vh;
}

.canvas-display {
  height: 100vh;
  min-width: 0px;
}

.layers-list-card {
  padding: 0.5em;
  border: 2px black solid;
  margin-top: 10px;
}

.layers-list-name {
  margin: 0px;
  user-select: none;
}

.layers-list-icon {
  display: inline-block;
  float: left;
  font-size: auto;
  position: relative;
  transform: translateY(10px);
  cursor: ns-resize;
}

.layers-list-selected {
  background-color: #63f96b;
}
