@mixin offset {
  position: relative;
  bottom: 4px;
}

// .card > * {
//   text-decoration: none;
// }

.card-icon {
  @include offset();
  margin-right: 5px;
}

.card-info-wrapper {
  margin-top: 1em;
  * {
    display: inline;
  }
}

.basket {
  transition: opacity 0.5s;
  opacity: 1;
  .hide {
    opacity: 0;
    pointer-events:none;
  }
}

.rooms-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}