body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.fade-appear {
  opacity: 0;
  z-index: 1;
}

.fade-appear .fade-appear-active {
  opacity: 1;
  -webkit-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter .fade-enter-active {
  opacity: 1;
  -webkit-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}

.fade-exit {
  opacity: 1;
}

.fade-exit .fade-exit-active {
  opacity: 0;
  -webkit-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}

.fade-exit-done {
  opacity: 0;
}

.slide-exit {
  opacity: 1;
  -webkit-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
}

.slide-exit .slide-exit-active {
  opacity: 0;
  -webkit-transform: scale(0.97) translateY(5px);
          transform: scale(0.97) translateY(5px);
  -webkit-transition: opacity 150ms linear, -webkit-transform 150 ease-out;
  transition: opacity 150ms linear, -webkit-transform 150 ease-out;
  transition: opacity 150ms linear, transform 150 ease-out;
  transition: opacity 150ms linear, transform 150 ease-out, -webkit-transform 150 ease-out;
}

.slide-exit-done {
  opacity: 0;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100vh;
  background-color: #0048b4;
  padding-top: 1em;
}

.logo {
  position: absolute;
}

.logo {
  color: white;
  top: 0px;
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
  -webkit-transition: outline 0.1s;
  transition: outline 0.1s;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.logo:focus-visible {
  outline: 2px solid;
}

.logo:hover {
  color: #ffc965;
}

@media (max-width: 1280px) {
  .logo {
    display: none;
  }
}

.card-icon {
  position: relative;
  bottom: 4px;
  margin-right: 5px;
}

.card-info-wrapper {
  margin-top: 1em;
}

.card-info-wrapper * {
  display: inline;
}

.basket {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
}

.basket .hide {
  opacity: 0;
  pointer-events: none;
}

.rooms-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

html {
  overflow: hidden;
}

.canvas-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.paint-toolbar {
  width: 225px;
  padding: 10px;
  background-color: #1770ac;
}

.paint-toolbar > * {
  margin-bottom: 10px;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.canvas-display {
  height: 100vh;
  min-width: 100px;
}

.canvas-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scroll-container {
  height: calc(100vh - 80px);
  width: calc(100vw - 320px);
  max-width: 1000px;
}

.layers-list-card {
  background-color: white;
  padding: 0.5em;
  border: 2px black solid;
  margin-top: 10px;
}

.layers-list-name {
  width: 130px;
  margin: 0 0 0 1em;
  outline: none;
  border: none;
  cursor: default;
}

.layers-list-name:focus {
  border: none;
}

#edit-name {
  background-color: #eeeeee;
}

.drag {
  position: relative;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  float: left;
  cursor: ns-resize;
}

.layer-interact {
  position: relative;
  bottom: 7px;
  left: 5px;
  float: right;
}

.layer-interact > * {
  cursor: pointer;
}

.visible {
  bottom: 2px;
  padding: 0px;
}

.trash {
  padding: 3px;
}

.trash:hover {
  border-radius: 10px;
  background-color: #ff8e8e;
}

.layers-list-selected {
  background-color: #63f96b;
}

.layers-list-selected .layers-list-name {
  background-color: #63f96b;
}

.icons-list-icon {
  display: inline-block;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.icons-list-icon:hover {
  background-color: #c9c9c9;
  cursor: pointer;
}

.icons-list-selected {
  background-color: #d1ffba;
}

.icons-list-selected:hover {
  background-color: #b9ff96;
}

.p5Canvas {
  cursor: none;
}

.canvas-server-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  margin: .25em 0;
}

.users-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.user-card {
  background-color: rgba(29, 145, 217, 0.803);
  border-radius: 10px;
  text-align: center;
  min-width: 4em;
}

.user-card.this {
  background-color: #63f96b;
  border-radius: 10px;
  text-align: center;
  min-width: 4em;
}

.user-card-id {
  font-size: 0.6em;
  color: #333;
}
/*# sourceMappingURL=style.css.map */