$layer-list-select: #63f96b;

html {
  overflow: hidden;
}
.canvas-container {
  flex-grow: 1;
}

.paint-toolbar {
  width: 225px;
  padding: 10px;
  background-color: rgba(241, 241, 241, 0.349);
  border-radius: 15px;
  & > * {
    margin-bottom: 10px;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-display {
  height: 100vh;
  min-width: 100px;
}

.canvas-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scroll-container {
  height: calc(100vh - 80px);
  width: calc(100vw - 320px);
  max-width: 1000px;
}

.layers-list-card {
  background-color: white;
  padding: 0.5em;
  border: 2px black solid;
  margin-top: 10px;
}
.layers-list-name {
  width: 130px;
  margin: 0 0 0 1em;
  outline: none;
  border: none;
  cursor: default;
}

.layers-list-name:focus {
  border: none;
  // user-select: none;
}

#edit-name {
  background-color: #eeeeee;
}

.drag {
  position: relative;
  transform: translateY(10px);
  float: left;
  cursor: ns-resize;
}

.layer-interact {
  position: relative;
  bottom: 7px;
  left: 5px;
  float: right;
}

.layer-interact > * {
  cursor: pointer;
}

.visible {
  bottom: 2px;
  padding: 0px;
}

.trash {
  padding: 3px;
}

.trash:hover {
  border-radius: 10px;
  background-color: #ff8e8e;
}

.layers-list-selected {
  background-color: $layer-list-select;
}

.layers-list-selected .layers-list-name {
  background-color: $layer-list-select;
}

.icons-list-icon {
  display: inline-block;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.icons-list-icon:hover {
  background-color: #ffffffc5;
  cursor: pointer;
}

.icons-list-selected {
  background-color: #d1ffba;
}

.icons-list-selected:hover {
  background-color: #b9ff96;
}

.p5Canvas {
  cursor: none;
}

.canvas-server-info {
  display: flex;
  gap: 1em;
  margin: .25em 0
}

.users-container {
  display: flex;
  gap: 1em;
}

.user-card {
  background-color: rgba(29, 145, 217, 0.803);
  border-radius: 10px;
  text-align: center;
  min-width: 4em;
}

.user-card.this {
  background-color: #63f96b;
  border-radius: 10px;
  text-align: center;
  min-width: 4em;
}

.user-card-id {
  font-size: 0.6em;
  color: #333;
}